@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@500&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #FFEEEE;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #e6ebdd, #FFEEEE);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #e7ebe0, #FFEEEE); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  color: rgb(0, 0, 0) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* ------------------- Home Page ------------------ */
.Home {
  font-family: "Edu VIC WA NT Beginner", cursive;
  height: 80vh;
}
.brand {
  font-family: "Edu VIC WA NT Beginner", cursive;
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #af4261);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 0.5s;
}
.brand:hover{
background-image: linear-gradient(45deg,  #af4261,#f3ec78);
}

.createBtn {
  padding: 5px 50px !important;
  border: 1px solid rgb(22, 21, 21) !important;
  background: #000;
  color: #fff;
  transition: transform .5s; 
  text-decoration: none !important;
  border-radius: 5px;
}
.createBtn:hover{
  transform: scale(1.1);
}
/* ------------ About Page ----------------- */
.aboutClass{
  font-family: "Edu VIC WA NT Beginner", cursive !important;
}
/* --------------- Footer ---------------- */
/* .footer {
  font-weight: lighter;
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
} */
.footer a {
  text-decoration: none;
  /* color: rgb(15, 14, 14); */
}
.fa {
  margin: 0 5px;
}


/* ------------- Resume --------------- */

.resumeUI{
  min-height: 600px;
  width: 450px !important;
  color: #000;
  outline: 1px solid rgb(0, 0, 0);
  outline-offset: -5px;
}
.personal{
  padding-top: 30px;
  font-size: 14px;
}
.obj p{
  font-size: 14px;
  font-style: italic;
}

.experience{
  font-size: 14px;
}
.education{
  font-size: 14px;
}
@media print {
  #resume{
     font-size: 14px;
    }
  
  
}
.yourResume{
  font-family: "Edu VIC WA NT Beginner", cursive !important;
  font-weight: 700;
}